html {
    height: 100%;
}

body {
    background-color: #282a36;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.dropup {
    position: relative;
    display: inline-block;
}


.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.container-fluid {
    height: 100%;
    width:100%;
}

.container-fluid h1 {
    font-family: 'Space Mono', monospace;
    font-size: 35vw;
    color: white;
}

#jiahui_button {
    font-size: 15vw;
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: #44475c;
}


h1 {
    font-family: 'Space Mono', monospace;
    font-size: 48px;
}

h2 {
    font-family: 'Space Mono', monospace;
    text-align:center;
    color:white;
}

#hellojh {
    color: #ff79c6;
}

#typewhat {
    color: #f1fa8c;
}

#jhresponse {
    color: #ffb86c;
}

#typewhatsubmit {
    text-align:center;
    background-color:#282a36;
    border-color:#8be9fd;
    color:#8be9fd;
}

#awesomebutton {
    text-align:center;
    background-color:#282a36;
    border-color:#50fa7b;
    color:#50fa7b;
}

#notawesomebutton {
    text-align:center;
    background-color:#282a36;
    border-color:#ff5555;
    color:#ff5555;
}

.center-block {
    margin: auto;
    display: block;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
